@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  font-family: 'Karla', sans-serif;
}


/* Hide the default checkbox */
.custom-checkbox input {
    display: none;
  }

  /* Create a custom checkbox */
  .custom-checkbox .checkmark {
    width: 30px;
    height: 30px;
    border: 2px solid #e4086f;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Add tick mark when checked */
  .custom-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 18px;
    border: solid white;
    border-width: 0 2px 2px 0;
    top: 3px;
    left: 8px;
    transform: rotate(45deg);
  }

  /* Change background color when checked */
  .custom-checkbox input:checked + .checkmark {
    background-color: #e4086f;
  }

.carousel-item{
margin-left: 45px;
}
.carousel-item1{
    margin-left: 49px;
}
/* Hide the default checkbox */
.custom-checkbox input {
    display: none;
  }

  /* Create a custom checkbox */
  .custom-checkbox .checkmark {
    width: 30px;
    height: 30px;
    border: 2px solid #e4086f;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Add tick mark when checked */
  .custom-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 18px;
    border: solid white;
    border-width: 0 2px 2px 0;
    top: 3px;
    left: 8px;
    transform: rotate(45deg);
  }

  /* Change background color when checked */
  .custom-checkbox input:checked + .checkmark {
    background-color: #e4086f;
  }
  .slick-dots li {
    width: 20px !important;
}
.slick-dots li button:before {
    display: none;
}
.slick-dots li.slick-active .custom-dot {
    width: 30px;
    margin-right: 5px !important;
    background: #ffffff !important;
}

.border {
  border-width: 3px;
}